*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', cursive;
    height: 500px;
}

.box{
    border-color: darkgray gray;
    background-color: rgba(42, 23, 93, 0.3);
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 10%;
    height: 500px;
    box-shadow: 10px 10px 5px black;
}
.powitanie{
    font-size: 100%;
    text-align: center;
}
h2{
    margin-top: 30px;
    font-size: 20px;
}
.logowanie{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 70%;

}

.logowanie a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

.Zaloguj{
    color: white;
    background-color: #F2AC32;
    padding:10px, 20px;
}

.Rejestracja{
    color: white;
    background-color: #F2AC32;
    padding:10px, 20px;

}


